
.ventas
    &-titulo
        text-align: center
        h1
            font-size: 25px
            font-weight: 400
    &-contenido
        max-width 1200px
        margin: 0 auto
        padding: 0 20px
        &-opciones
            padding: 40px 0 60px 0
            display: flex
            align-items: center
            justify-content: space-between
            &-opcion
                .img
                    width 150px
                    height 150px
                    padding: 10px
                    border 2px solid transparent
                    &.selected
                        border 2px solid black
                    &:hover
                        border 2px solid black
                    img
                        width: 100%
                        display: block
                p
                    text-align: center
                    font-size: 16px
                    font-weight: 500
        &-seccion
            padding: 100px 0 30px 0
		.unidad
			display: flex
			justify-content: space-between
			align-items: flex-end
			flex-wrap: wrap
			&-opcion
				width calc(33.33% - 85px)
				margin:0 20px 30px
				&-imagen
					display: flex
					align-items: flex-start
					justify-content: center
					padding-bottom: 12px
					.img
						padding: 0 10px
						img
							width 100%
							max-width: 80px
							display: block
					.input
						.radio
							appearance: none;
							-webkit-appearance: none;
							-moz-appearance: none;
							width: 25px;
							height: 25px;
							border-radius: 50%;
							border: 2px solid #000;
							outline: none;
							cursor: pointer;
							background: transparent
				.input
					input
						text-align: center
						width 100%
						background: white
						border-radius: 6px
						border: 1px solid black
						padding: 6px 3px
						&:focus
							outline: none
		.aviso
			p
				margin: 0
				font-size: 13px
		.inputs
			padding: 50px 0 30px
			display: flex
			align-items: flex-end
			justify-content: space-between
			&-33
				width calc(33.33% - 110px)
				input
					width 100%
					margin: 8px 0 0 0
					border-radius: 6px
					padding: 8px 4px
					background: white
					border 1px solid black
			.icon
				img
					max-width: 30px
					display block
			.boton
				button
					background: rgb(48, 148, 48)
					color white
					border-radius: 8px
					border none
					padding: 8px 10px
		.caja
			&-opcion
				&-imagen
					.img
						img
							max-width: 120px


@media screen and (max-width 780px)
	.ventas
		&-contenido
			&-opciones
				&-opcion
					width calc(25% - 10px)
					.img
						width 120px
						height 120px
						margin: 0 auto
