.ventas-titulo {
  text-align: center;
}
.ventas-titulo h1 {
  font-size: 25px;
  font-weight: 400;
}
.ventas-contenido {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.ventas-contenido-opciones {
  padding: 40px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ventas-contenido-opciones-opcion .img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 2px solid transparent;
}
.ventas-contenido-opciones-opcion .img.selected {
  border: 2px solid #000;
}
.ventas-contenido-opciones-opcion .img:hover {
  border: 2px solid #000;
}
.ventas-contenido-opciones-opcion .img img {
  width: 100%;
  display: block;
}
.ventas-contenido-opciones-opcion p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.ventas-contenido-seccion {
  padding: 100px 0 30px 0;
}
.unidad {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.unidad-opcion {
  width: calc(33.33% - 85px);
  margin: 0 20px 30px;
}
.unidad-opcion-imagen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 12px;
}
.unidad-opcion-imagen .img {
  padding: 0 10px;
}
.unidad-opcion-imagen .img img {
  width: 100%;
  max-width: 80px;
  display: block;
}
.unidad-opcion-imagen .input .radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #000;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.unidad-opcion .input input {
  text-align: center;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 6px 3px;
}
.unidad-opcion .input input:focus {
  outline: none;
}
.aviso p {
  margin: 0;
  font-size: 13px;
}
.inputs {
  padding: 50px 0 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.inputs-33 {
  width: calc(33.33% - 110px);
}
.inputs-33 input {
  width: 100%;
  margin: 8px 0 0 0;
  border-radius: 6px;
  padding: 8px 4px;
  background: #fff;
  border: 1px solid #000;
}
.inputs .icon img {
  max-width: 30px;
  display: block;
}
.inputs .boton button {
  background: #309430;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
}
.caja-opcion-imagen .img img {
  max-width: 120px;
}
@media screen and (max-width: 780px) {
  .ventas-contenido-opciones-opcion {
    width: calc(25% - 10px);
  }
  .ventas-contenido-opciones-opcion .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}

