@import '../normalize.styl'
@import 'material.styl'

*
	box-sizing border-box

body
	background-color: #343a40
	font-family: 'Roboto', sans-serif;
	font-weight 300
	&.Acceso
		background white
	input[type="radio"]:checked::before
		background: black !important

.Acceso
	padding: 0 20px
	figure
		margin 0
		padding 30px 0px
		text-align: center
		img
			display: inline-block
			max-width: 300px
			width 100%
	&-contenido
		max-width: 960px
		margin 0 auto
		form
			max-width: 480px
			margin 0 auto

.Login
	&-form
		background-color: white
		font-family: 'Roboto', sans-serif;
		font-weight 300
		max-width 380px
		margin 5% auto 0 auto
		border 1px solid rgba(0, 0, 0, .2)
		padding 60px 40px
		shadow-level(2)
		figure
			display: block
			width 100%
			margin 0
			text-align: center
		img
			display: block
			max-width 250px
			margin 20px auto 60px auto
			background-color: #22244A
			padding: 20px
