@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  background: #e2d5c1 !important;
  padding-top: 110px;
}
html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.input {
  position: relative;
}
.input input {
  position: relative;
}
button {
  cursor: pointer;
}
.icon-noti {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.icon-noti img {
  max-width: 30px;
  width: 100%;
  display: block;
}
.notificacion {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 200px;
  background: #fff;
  height: 100%;
}
.notificacion-contenido {
  display: block;
  position: relative;
  padding: 40px 10px 0;
}
.notificacion-contenido .icon-cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.notificacion-contenido .icon-cerrar img {
  max-width: 30px;
  width: 100%;
  display: block;
}
.notificacion-contenido-noti p {
  font-size: 13px;
}
.logo {
  position: absolute;
  left: 20px;
  top: 0px;
}
.logo img {
  max-width: 250px;
}
.Modal {
  background: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
}
.Modal-container {
  background-color: #fff;
  padding: 20px;
  position: relative;
}
.Modal-container .close {
  color: #f00;
  position: absolute;
  right: 8px;
  font-size: 18px;
  top: 4px;
  cursor: pointer;
}
.Modal-ctas {
  text-align: center;
}
.Modal-ctas .btnFile {
  background-color: #000;
  position: relative;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
.Modal-ctas .btnFile input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}
.Modal-ctas button {
  display: block;
  width: 100%;
  background-color: #000;
  border: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
}
.Modal .croppie-container {
  height: auto;
}
.Modal .croppie-container .cr-viewport,
.Modal .croppie-container .cr-resizer {
  border: 1px solid rgba(0,0,0,0.2);
}
input[type="radio"]:checked::before {
  background: #000 !important;
}
#keywords_tag {
  border: none;
}
#keywords_tag::-moz-placeholder {
  color: rgba(0,0,0,0.4);
}
#keywords_tag::placeholder {
  color: rgba(0,0,0,0.4);
}
.post {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}
.post-label {
  font-weight: 600;
}
.post img {
  display: block;
  max-width: 800px;
  margin: 20px auto;
}
.post iframe {
  width: 100%;
  height: 480px;
  margin: 20px auto;
  display: block;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 15px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin-right: 10px;
  font-size: 14px;
  background: #000;
}
.btn--delete,
.btn--delete-no-data {
  background: #f00;
}
.btn--archivo {
  background: #f00;
  border-radius: 5px;
  font-weight: 700;
}
.btn--excel,
.btn--edit,
.btn--stock {
  background: #000;
  color: #000;
}
.trumbowyg-box {
  border: 2px solid #000;
}
.trumbowyg-editor {
  border-top: 2px solid #000;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs.w-25 {
  justify-content: initial;
  align-items: center;
}
.inputs .input {
  width: calc(50% - 10px);
}
.inputs .input.w-25 {
  width: calc(25% - 10px);
  margin: 5px;
  text-align: initial;
}
.inputs .input.w-40 {
  width: calc(40% - 10px);
  margin: 5px;
  text-align: initial;
}
.inputs .input .select {
  font-weight: 300;
  background: #fff;
  font-size: 16px;
  padding: 6px 10px;
  display: block;
  width: 100%;
  border: 2px solid #000;
  border-radius: 2px;
}
.inputs.images {
  align-items: flex-start;
  flex-wrap: wrap;
}
.input input,
.input textarea,
.input select,
.input label,
.input p {
  font-family: inherit;
}
.input .error {
  color: #fff;
  margin: 0;
}
.input-50 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.input-30 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}
.input-c {
  padding: 0 10px;
}
.input-l {
  padding-right: 10px;
}
.input-l .input-radio {
  display: inline-block;
}
.input-r {
  padding-left: 10px;
}
.input.only-promocion {
  display: none;
}
.input.image {
  position: relative;
  margin-bottom: 20px;
  position: relative;
}
.input.image .container {
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.input.image .icon-close {
  display: block;
  background-color: #f00;
  color: #fff;
  position: absolute;
  top: 0;
  right: -24px;
  width: 20px;
  text-align: center;
  font-style: normal;
  padding: 8px 0;
  border-radius: 2px;
  display: none;
  cursor: pointer;
}
.input.image .icon-close.is-visible {
  display: block;
}
.input.image img {
  display: none;
  width: 100%;
  margin-top: 0px;
  max-width: 213px;
}
.input.image img.is-visible {
  display: block;
}
.input.image input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
  height: 36px;
  opacity: 0;
  width: 100%;
}
.input.image span {
  margin-right: 0;
  cursor: pointer;
}
.input.image p {
  margin: 0 0 5px 0;
}
.input.select {
  position: relative;
  margin-bottom: 20px;
}
.input.select select {
  width: 100%;
  background: #fff;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 7px 5px;
}
.input.select select:focus {
  outline: none;
  border-color: rgba(0,0,0,0.5);
}
.input.add select {
  width: 96%;
}
.input.add a {
  margin-left: 15px;
  text-decoration: none;
  padding: 5px;
}
.input.add a span {
  font-size: 22px;
  font-weight: 600;
}
.input.select p,
.input.text p,
.input.select label,
.input.text label {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}
.input.text {
  position: relative;
  margin-bottom: 20px;
}
.input.text input,
.input.text textarea {
  font-weight: 300;
  background: #fff;
  font-size: 16px;
  padding: 5px 10px;
  display: block;
  width: 100%;
  border: 2px solid #000;
  border-radius: 2px;
}
.input.text input:focus,
.input.text textarea:focus {
  outline: none;
}
.input.text textarea {
  height: 120px;
  resize: none;
}
.input.text label {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}
.input.text .tagsinput {
  padding: 10px 15px 5px 10px;
}
.input.text .tagsinput .tag {
  border-radius: 20px;
  background: #000;
}
.input-radioGroup,
.input-checkGroup {
  position: relative;
  margin-bottom: 20px;
}
.input-radioGroup p,
.input-checkGroup p {
  margin: 0 0 5px 0;
}
.input-radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 16px;
  line-height: 49px;
  cursor: pointer;
  position: relative;
}
.input-radio:hover .inner {
  transform: scale(0.5);
  opacity: 0.5;
}
.input-radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute !important;
}
.input-radio input:checked + .outer .inner {
  transform: scale(1);
  opacity: 1;
}
.input-radio input:checked + .outer,
.input-radio input:focus + .outer .inner {
  transform: scale(1);
  opacity: 1;
}
.input-radio .outer {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin: 10px 5px 10px 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
}
.input-radio .inner {
  transition: all 0.25s ease-in-out;
  width: 16px;
  height: 16px;
  transform: scale(0);
  display: block;
  margin: 3px;
  border-radius: 50%;
  opacity: 0;
  background: #000;
}
.input-check {
  display: inline-block;
  padding-right: 20px;
  font-size: 16px;
  line-height: 49px;
  cursor: pointer;
  width: 20%;
}
.input-check span {
  display: inline-block;
  vertical-align: top;
  margin-left: 18px;
  padding-top: 5px;
}
.input-check input {
  position: relative;
}
.input-check input:focus {
  outline-color: #fff;
}
.input-check input:before {
  border: 2px solid #000;
  content: "";
  cursor: pointer;
  display: block;
  height: 20px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 20px;
  z-index: 1;
}
.input-check input:checked:before {
  border-top-style: none;
  border-right-style: none;
  height: 14px;
  transform: rotate(-45deg);
  border-color: morado;
}
.input-check input:after {
  background: #fff;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 0;
}
.dataTables_filter input,
.dataTables_filter select,
.dataTables_length input,
.dataTables_length select {
  border: 1px solid rgba(0,0,0,0.5);
  height: 35px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 100%;
  background-color: #fff;
  font-family: inherit;
  margin: 0px 0 20px 0;
}
.getTables>tbody>tr>td,
.getTables>thead>tr>th,
.table>tbody>tr>td,
.table>thead>tr>th {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  vertical-align: middle;
}
.getTables>thead>tr>th,
.table>thead>tr>th {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
table.dataTable.no-footer {
  border-left: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.5);
  border-bottom: none;
}
.table>tbody>tr:nth-of-type(odd),
.getTables>tbody>tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,0.1);
}
.table,
.getTables {
  border: 1px solid rgba(0,0,0,0.5);
  width: 100%;
  border-collapse: collapse;
}
.table th,
.getTables th {
  text-align: left;
}
.table .imagen img,
.getTables .imagen img {
  width: 250px;
}
.table .input-check,
.getTables .input-check {
  line-height: 1rem;
  width: auto;
}
.table .input-checkGroup,
.getTables .input-checkGroup {
  margin-bottom: 0;
}
.tabla-precios-container {
  padding: 10px 10px 0 10px;
}
.tabla-precios h2 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 40px 0;
  padding: 10px 5px;
}
.tabla-specs {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
.tabla-specs thead {
  background: #000;
}
.tabla-specs thead th {
  color: #fff;
  border: 1px solid #000;
  padding: 10px;
}
.tabla-specs td {
  border: 1px solid #000;
  padding: 10px 10px;
}
.tabla-specs td.w40 {
  width: 40%;
}
.tabla-specs td.Panel-actions {
  text-align: center;
}
.tabla-specs td.Panel-actions .btn {
  margin: 0;
}
.FancyView td {
  color: #000 !important;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #343a40;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body.Acceso {
  background: #fff;
}
body input[type="radio"]:checked::before {
  background: #000 !important;
}
.Acceso {
  padding: 0 20px;
}
.Acceso figure {
  margin: 0;
  padding: 30px 0px;
  text-align: center;
}
.Acceso figure img {
  display: inline-block;
  max-width: 300px;
  width: 100%;
}
.Acceso-contenido {
  max-width: 960px;
  margin: 0 auto;
}
.Acceso-contenido form {
  max-width: 480px;
  margin: 0 auto;
}
.Login-form {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 380px;
  margin: 5% auto 0 auto;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 60px 40px;
}
.Login-form figure {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}
.Login-form img {
  display: block;
  max-width: 250px;
  margin: 20px auto 60px auto;
  background-color: #22244a;
  padding: 20px;
}

